version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/python:3.8.5
        environment:
          PROJECTS_TRACKER_DB_NAME: projects_tracker_db
          POSTGRESQL_USER: toure
          POSTGRESQL_PASSWORD: toure
          POSTGRESQL_HOST: localhost
          POSTGRESQL_PORT: 5432
          SECRET_KEY: "ers*j_zo20gv35#8=7^4dqka-ga6_6asb$nib+d=j=^basuq2l"
      - image: circleci/postgres:9.6.5-alpine-ram
        auth:
          username: mydockerhub-user
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
        environment:
          POSTGRES_USER: toure
          POSTGRES_PASSWORD: toure
          POSTGRES_DB: projects_tracker_db

    working_directory: ~/repo

    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
      # run tests!
      # this example uses Django's built-in test-runner
      # other common Python testing frameworks include pytest and nose
      # https://pytest.org
      # https://nose.readthedocs.io
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            cd projects_api
            python manage.py test
      - store_artifacts:
          path: test-reports
          destination: test-reports